.bg-color {
	color: #fff;
	background: #44B31D;
}
.color {
	color: #44B31D;
}
.border-color {
	border-color: #44B31D;
}
.week-day-active {
	color: #fff;
}
.loading-bg {
	background: url("../../img/loading-2.gif") no-repeat center;
}
.refresh-bg {
	background: url("../../img/refresh-2.png") no-repeat center;
}