.bg-color {
	color: #fff;
	background: #FFA800;
}
.color {
	color: #FFA800;
}
.border-color {
	border-color: #FFA800;
}
.week-day-active {
	color: #fff;
}
.loading-bg {
	background: url("../../img/loading-3.gif") no-repeat center;
}
.refresh-bg {
	background: url("../../img/refresh-3.png") no-repeat center;
}